<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johan.mplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.VideoActivity" android:theme="@style/VideoTheme" android:configChanges="orientation|screenSize" />

    </application>

</manifest>
